* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: rgb(3, 150, 150);
}

.header {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  background: white;
}

.logo {
  width: 200px;
}
.github {
  text-align: center;
  font-size: 21px;
  padding-top: 8px;
  width: 150px;
  height: 40px;
  background: #000;
  border-radius: 550px;
  color: white;
  cursor: pointer;
}

#form {
  max-width: 1200px;
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  border: 1px solid black;
  margin: 100px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
}

#prompt {
  width: 950px;
  height: 44px;
  font-size: 25px;
  padding: 12px 5px;
  margin-top: 25px;
  resize: none;
}
#submit {
  width: 450px;
  height: 45px;
  font-size: 23px;
  font-weight: 500;
  color: white;
  background: rgb(3, 150, 150);
  margin-bottom: 25px;
  cursor: pointer;
}
.p {
  font-weight: bold;
  color: rgb(0, 37, 77);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.gpt {
  font-size: 40px;
  font-weight: bold;
  color: rgb(3, 150, 150);
}
.response {
  padding: 5px 0 0 5px;
  background: rgba(246, 255, 255, 0.326);
  color: black;
}

#prompt:focus {
  outline: none;
  border: 0.5px solid rgb(92, 157, 255);
}
#prompt::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 320px) {
  .header {
    padding: 0 10px;
  }
  .logo {
    width: 115px;
  }
  .github {
    width: 100px;
    height: 33px;
    font-size: 18px;
    padding-top: 7px;
  }
  #prompt {
    width: 80%;
    height: 35px;
  }
  #submit {
    width: 80%;
    height: 35px;
  }
  #form {
    max-width: 90%;
    font-size: 20px;
    margin: 50px auto;
  }
  .gpt {
    font-size: 26px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1320px) {
  .header {
    padding: 0 20px;
  }
  .logo {
    width: 180px;
  }
  .github {
    width: 135px;
    height: 40px;
    font-size: 19px;
    padding-top: 8px;
  }
  #prompt {
    width: 400px;
  }
  #submit {
    width: 400px;
  }
  #form {
    max-width: 80%;
    font-size: 27px;
  }
  .gpt {
    font-size: 35px;
  }
}
@media (min-width: 1321px) {
  .header {
    height: 95px;
    padding: 0 35px;
  }

  .logo {
    width: 200px;
  }
  .github {
    font-size: 21px;
    padding-top: 8px;
    width: 150px;
    height: 40px;
  }
  #form {
    max-width: 1200px;
    font-size: 30px;
    gap: 16px;
    margin: 100px auto;
    border-radius: 10px;
  }

  #prompt {
    width: 950px;
    height: 44px;
    font-size: large;
  }
  #submit {
    width: 450px;
    height: 45px;
    font-size: 23px;
    font-weight: 500;
  }
  .gpt {
    font-size: 40px;
  }
}
